# IMPORTS

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math
import os


# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import classification_report
# from sklearn.metrics import confusion_matrix
# from sklearn.datasets import load_iris
# from sklearn import svm
# from sklearn.neural_network import MLPClassifier
# from sklearn.neighbors import KNeighborsClassifier

import warnings
warnings.filterwarnings('ignore')

* * *

# LOAD CLEANED DATASETS
Let's read our cleaned files from `Datasets/Cleaned_Datasets` directory

To learn more about how we cleaned the data, you may want to visit `data_cleaning.py` and `exploratory_data_analysis.ipynb`

In [2]:
# Use Pandas to read CSV files and store each dataframe into a variable
world_happiness_df = pd.read_csv("./Datasets/Cleaned_Datasets/cleaned_world_happiness.csv", header=0)
covid_df = pd.read_csv("./Datasets/Cleaned_Datasets/cleaned_covid.csv", header=0)
clean_drinking_water_df = pd.read_csv("./Datasets/Cleaned_Datasets/cleaned_drinking_water_services.csv", header=0)
crude_suicide_rates_df = pd.read_csv("./Datasets/Cleaned_Datasets/cleaned_crude_suicide_rates.csv", header=0)
medical_doctors_df = pd.read_csv("./Datasets/Cleaned_Datasets/cleaned_medical_doctors.csv", header=0)

world_happiness_df.head(5)

,country,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
0,Afghanistan,3.594628,7.650843,0.508245,52.266667,0.518012,0.070041,0.843283
1,Albania,5.019427,9.384397,0.716316,67.546154,0.662830,-0.082628,0.869360
2,Algeria,5.389717,9.328897,0.803582,65.290000,0.519009,-0.144289,0.690871
3,Angola,4.420299,8.989725,0.737973,53.550000,0.455957,-0.088023,0.867018
4,Argentina,6.310166,10.033868,0.904423,67.900000,0.768254,-0.159684,0.841997

# Prepare a new dataset

Make a new dataset that will combine `clean_drinking_water`, `crude_suicide_rates`, and `medical_doctors` as features into the `world_happiness_data`

In [3]:
main_dataset = pd.merge(world_happiness_df, clean_drinking_water_df, how='inner', on="country")
main_dataset = pd.merge(main_dataset, crude_suicide_rates_df, how='inner', on="country")
main_dataset = pd.merge(main_dataset, medical_doctors_df, how='inner', on="country")

In [4]:
main_dataset.head(5)

,country,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption,clean_water_per_100_people,suicide_rate_per_100000_people,doctors_per_10000_people
0,Afghanistan,3.594628,7.650843,0.508245,52.266667,0.518012,0.070041,0.843283,37.755000,4.300000,2.322500
1,Albania,5.019427,9.384397,0.716316,67.546154,0.662830,-0.082628,0.869360,84.061667,5.193333,13.092727
2,Algeria,5.389717,9.328897,0.803582,65.290000,0.519009,-0.144289,0.690871,86.305000,2.880000,14.450000
3,Angola,4.420299,8.989725,0.737973,53.550000,0.455957,-0.088023,0.867018,24.313889,5.200000,1.167500
4,Argentina,6.310166,10.033868,0.904423,67.900000,0.768254,-0.159684,0.841997,87.365556,7.280000,34.327143

In [5]:
main_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 0 to 134
Data columns (total 11 columns):
country                           135 non-null object
happiness_score                   135 non-null float64
gdp_per_capita                    135 non-null float64
social_support                    135 non-null float64
life_expectancy                   135 non-null float64
freedom                           135 non-null float64
generosity                        135 non-null float64
corruption                        135 non-null float64
clean_water_per_100_people        135 non-null float64
suicide_rate_per_100000_people    135 non-null float64
doctors_per_10000_people          135 non-null float64
dtypes: float64(10), object(1)
memory usage: 12.7+ KB